{% extends 'core/base.html' %}
{% block content %}
<h2>{{ movie.title }}</h2>
<img src="{{ movie.poster }}" width="200">
<p>{{ movie.description }}</p>
<p>Genre: {{ movie.genre }}</p>
<p>Runtime: {{ movie.runtime }}</p>
<p>IMDb: {{ movie.imdb_rating }}</p>
<div style="margin-top: 15px;">
  <a href="#" style="background-color: #ffcc00; padding: 10px 16px; font-weight: bold; color: black; text-decoration: none; border-radius: 5px; margin-right: 10px;">Watch Free</a>
  <a href="#" style="background-color: #333; padding: 10px 16px; font-weight: bold; color: white; text-decoration: none; border-radius: 5px;">Download</a>
</div>


{% if user.is_authenticated %}
  <form method="post" action="{% url 'like_movie' movie.pk %}">
    {% csrf_token %}
    <button type="submit">
      {% if user in movie.likes.all %}Unlike{% else %}Like{% endif %}
    </button> ❤️ {{ movie.total_likes }}
  </form>
{% endif %}

<h3>Cast</h3>
<div class="cast-grid">
  {% for cast in movie.casts.all %}
    <div>
      <img src="{{ cast.photo }}" width="100">
      <p><strong>{{ cast.name }}</strong></p>
      <p>{{ cast.bio }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
